<div class="sidenav">
    <div class="bg-dark border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush text-white d-flex align-items-center ">
            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center text-white bg-dark ">
                <ion-icon class="mr-2" name="clipboard"></ion-icon>Dashboard
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center text-white bg-dark">
                <ion-icon class="mr-2" name="search"></ion-icon>Search Members
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center text-white bg-dark"
                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <ion-icon class="mr-2" name="person"></ion-icon>Profile

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>

            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center text-white bg-dark">
                <ion-icon class="mr-2" name="document"></ion-icon>Reports
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex align-items-center text-white bg-dark">
                <ion-icon class="mr-2" name="log-out"></ion-icon>Logout
            </a>
        </div>
    </div>
</div>